@import '../../common.scss';

.no_selected{}

.selected_item{
  .header{
    >span:nth-child(2){
      color: $primary_color;
      margin-left: 5px;
    }
  }
  .ops_panel{
    margin-top: 20px;
    .intro{
      margin-bottom: 10px;
    }
    .btnGroup{
      padding-bottom: 10px;
      >*{
        margin-right: 10px;
      }
    }
    .ops_form{
      // margin-top: 10px;
    }
  }
}
